.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

h2{
    color:#572AA9;
    font-family: 'inter' sans-serif;
    font-size: 32px;
    display: inline-block; /* Display the title inline with the icon */
    vertical-align: middle;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    max-width: 700px;
    position: relative;

}

  
  form {
    width: 700px;
    margin-top: 20px;
  }
  
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'inter', sans-serif;
  }
  
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .btn-primary {

    width: 200px; /* Adjust the width as per your preference */
    padding: 10px;
    background-color: #572AA9;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    

    position: absolute;
    top: 125%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
  }
  
  .btn-primary:hover {
    background-color: #DDD4EE;
    color: #2C1555;
  }

  .icon{
    position: absolute; 
    top: 25%; 
    left: 10px; 
    transform: translateY(-50%); 
    width: 1rem;
  }
  