@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --D1-large-display-font-size: 3rem;
  --D1-large-display-line-height: 4.5rem;
  --D1-large-display-weight: 900;

  --D2-medium-display-font-size: 2.25rem;
  --D2-medium-display-line-height: 3.38rem;
  --D2-medium-display-weight: 700;

  --D3-Small-display-font-size: 1.5rem;
  --D3-Small-display-line-height: 2.25rem;
  --D3-Small-display-weight: 700;

  --T1-large-title-font-size: 1.5rem;
  --T1-large-title-line-height: 2.25rem;
  --T1-large-title-weight: 700;

  --T2-medium-title-font-size: 1.2rem;
  --T2-medium-title-line-height: 1.5rem;
  --T2-medium-title-weight: 700;

  --T3-small-title-font-size: 1rem;
  --T3-small-title-line-height: 1.5rem;
  --T3-small-title-weight: 700;

  --B1-large-body-font-size: 1.5rem;
  --B1-large-body-line-height: 2.25rem;
  --B1-large-body-weight: 400;

  --B2-medium-body-font-size: 1.125rem;
  --B2-medium-body-line-height: 1.69rem;
  --B2-medium-body-weight: 400;

  --B3-small-body-font-size: 1rem;
  --B3-small-body-line-height: 1.5rem;
  --B3-small-body-weight: 400;

  --B4-little-body-font-size: 0.88rem;
  --B4-little-body-line-height: 1.31rem;
  --B4-little-body-weight: 400;

  --Neutral100-background-color: #f6f6f6;
  --Neutral200-secondary-color: #6b5b88;
  --Neutral300-border-color: #ddd4ee;
  --Neutral400-text-main: #2c1555;
  --Primary-color: #572aa9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: var(--Neutral400-text-main);
  font-size: 16px;
}

body {
  background-color: var(--Neutral100-background-color);
}

.hero {
  /* background-image: url(hero-expenseTracker.png); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  padding: 2rem 4rem 8rem 4rem;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-nav {
  width: 10rem;
}

.logIn-signUp-button-container {
  display: flex;
  column-gap: 0.5rem;
}

.logIn-navbar {
  background-color: var(--Neutral300-border-color);
  font-size: var(--B2-medium-body-font-size);
  font-weight: var(--B2-medium-body-weight);
  line-height: var(--B2-medium-body-line-height);
  padding: 0.5rem 1.2rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
}

.signUp-navbar {
  background-color: var(--Primary-color);
  color: var(--Neutral100-background-color);
  font-size: var(--B2-medium-body-font-size);
  font-weight: var(--B2-medium-body-weight);
  line-height: var(--B2-medium-body-line-height);
  padding: 0.5rem 1.2rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
}

.hero-left-container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.hero-left-text-main {
  color: var(--Neutral100-background-color);
  font-size: var(--D1-large-display-font-size);
  font-weight: var(--D1-large-display-weight);
  line-height: var(--D1-large-display-line-height);
  width: 48%;
}

.hero-left-text-subtext {
  color: var(--Neutral100-background-color);
  font-size: var(--B1-large-body-font-size);
  font-weight: var(--B1-large-body-weight);
  line-height: var(--B1-large-body-line-height);
  width: 48%;
}

.hero-button-get-started {
  background-color: var(--Neutral100-background-color);
  color: var(--Primary-color);
  font-size: var(--B2-medium-body-font-size);
  font-weight: var(--B2-medium-body-weight);
  line-height: var(--B2-medium-body-line-height);
  padding: 0.5rem 1.2rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
}

.why-expense-tracker {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  padding: 4rem 4rem 4rem 4rem;
}

.why-expense-tracker-main-subtext-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.why-expense-tracker-title {
  font-size: var(--D2-medium-display-font-size);
  font-weight: var(--D2-medium-display-weight);
  line-height: var(--B2-medium-body-line-height);
}

.why-expense-tracker-subtext {
  font-size: var(--B2-medium-body-font-size);
  font-weight: var(--B2-medium-body-weight);
  line-height: var(--B2-medium-body-line-height);
}

.why-expense-tracker-inner-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.why-expense-tracker-inner-content {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.inner-content-image {
  width: 19rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.why-expense-tracker-inner-content-text-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
  width: 19rem;
}

.why-expense-tracker-inner-content-text-title {
  font-size: var(--D3-Small-display-font-size);
  font-weight: var(--D3-Small-display-weight);
  line-height: var(--D3-Small-display-line-height);
}

.why-expense-tracker-inner-content-text-subtext {
  font-size: var(--B3-small-body-font-size);
  font-weight: var(--B3-small-body-weight);
  line-height: var(--B3-small-body-line-height);
}

.why-we-do {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  padding: 2rem 4rem 4rem 4rem;
}

.why-we-do-main-subtext-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
}

.why-we-do-title {
  font-size: var(--D2-medium-display-font-size);
  font-weight: var(--D2-medium-display-weight);
  line-height: var(--B2-medium-body-line-height);
}

.why-we-do-subtext {
  font-size: var(--B2-medium-body-font-size);
  font-weight: var(--B2-medium-body-weight);
  line-height: var(--B2-medium-body-line-height);
}

.why-we-do-inner-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.why-we-do-inner-content-first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #3a0699;
  width: 19rem;
  height: 20rem;
  padding: 2rem 2rem;
  border-radius: 0.5rem;
}

.why-we-do-inner-content-second {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #4104b0;
  width: 19rem;
  height: 20rem;
  padding: 2rem 2rem;
  border-radius: 0.5rem;
}

.why-we-do-inner-content-third {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #572aa9;
  width: 19rem;
  height: 20rem;
  padding: 2rem 2rem;
  border-radius: 0.5rem;
}

.why-we-do-inner-content-text-title-top {
  color: var(--Neutral100-background-color);
  font-size: var(--D2-medium-display-font-size);
  font-weight: var(--D2-medium-display-weight);
  line-height: var(--D2-medium-display-line-height);
}

.why-we-do-inner-content-text-title {
  color: var(--Neutral100-background-color);
  font-size: var(--T3-small-title-font-size);
  font-weight: var(--T3-small-title-weight);
  line-height: var(--T3-small-title-line-height);
}

.why-we-do-inner-content-text-subtext {
  color: var(--Neutral100-background-color);
  font-size: var(--B4-little-body-font-size);
  font-weight: var(--B4-little-body-weight);
  line-height: var(--B4-little-body-line-height);
}

.privacy {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem 4rem 4rem;
  align-items: center;
}

.privacy-main-subtext-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.privacy-title {
  font-size: var(--D2-medium-display-font-size);
  font-weight: var(--D2-medium-display-weight);
  line-height: var(--D2-medium-display-line-height);
  width: 48%;
}

.privacy-subtext {
  font-size: var(--B2-medium-body-font-size);
  font-weight: var(--B2-medium-body-weight);
  line-height: var(--B2-medium-body-line-height);
  width: 66%;
}

.padlock {
  width: 25rem;
}

.footer {
  display: flex;
  column-gap: 10rem;
  padding: 4rem 4rem 4rem 4rem;
  background-color: var(--Neutral400-text-main);
}

.logo-footer {
  width: 10rem;
  height: fit-content;
}

.footer-right-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.social-medias-container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.social-title {
  color: var(--Neutral100-background-color);
  font-size: var(--T3-small-title-font-size);
  font-weight: var(--T3-small-title-weight);
  line-height: var(--T3-small-title-line-height);
}

.socialMedia-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.social-media {
  color: var(--Neutral100-background-color);
  font-size: var(--B4-little-body-font-size);
  font-weight: var(--B4-little-body-weight);
  line-height: var(--B4-little-body-line-height);
}

.expenseTracker-container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.expenseTracker-title {
  color: var(--Neutral100-background-color);
  font-size: var(--T3-small-title-font-size);
  font-weight: var(--T3-small-title-weight);
  line-height: var(--T3-small-title-line-height);
}

.expenseTracker-inner-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.expenseTracker {
  color: var(--Neutral100-background-color);
  font-size: var(--B4-little-body-font-size);
  font-weight: var(--B4-little-body-weight);
  line-height: var(--B4-little-body-line-height);
}

.company-container {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.company-title {
  color: var(--Neutral100-background-color);
  font-size: var(--T3-small-title-font-size);
  font-weight: var(--T3-small-title-weight);
  line-height: var(--T3-small-title-line-height);
}

.company-inner-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.company {
  color: var(--Neutral100-background-color);
  font-size: var(--B4-little-body-font-size);
  font-weight: var(--B4-little-body-weight);
  line-height: var(--B4-little-body-line-height);
}
