@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*

If you are in charge of the home page, category page or the 
transaction page; please change the border-bottom color to 
be light purple and font-weight to be bold. 

It was spicified in the wireframes. 

e.g. 

.nav > a > .category {
	border-bottom: 4px solid #572AA9;
}

.nav > a > .category > p {
	color: #462287;
	font-weight: bold;
}

*/

body {
  width: 100%;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	font-family: 'Inter', sans-serif, Arial, Helvetica;
	background-color: #f0f0f0;
}

a {
	text-decoration: none;
	color: #00B7FF;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
  margin: 0 15vw;
  margin-top: 5vh;
}

#logo {
  width: 12vw;
}

#profile {
  height: 3vw;
  width: 3vw;
}


/*********************************/

.drop-down {
	display: none;
	position: absolute;
	flex-direction: column;
	background-color: lightgray;
}

.drop-down > a {
	background-color: white;
	padding: 1vw;
	color: black;
}

.drop-down > a:hover {
	background-color: lightgray;
	color: purple;
}

.dd-container:hover > .drop-down {
	display: flex;
}

/*********************************/
.nav {
	display: grid;
	grid-template-columns: repeat(3, 15vw);
	justify-content: space-between;
  margin: 5vh 15vw;
}

.nav > a > div {
	display: flex;
	align-items: center;
	border-bottom: 4px solid #DDD4EE;
	padding: 1vh 0;
}

.nav > a > div > p {
	color: #6B6B88;
  font-size: 1vw;
	
}

.nav > a > div > img {
	width: 2vw;
	margin: 0 1vw;
}

.content {
  width: 70vw;
  height: 100%;
  margin: 0 15vw;
}


/*
.nav > a > .category {
	border-bottom: 4px solid #572AA9;
}

.nav > a > .category > p {
	color: #462287;
	font-weight: bold;
}

*/

/****************************/
