extends layout
block style
  link(rel="stylesheet", href="./stylesheets/catergoriesList.css")

block content
  h1= title

  if categories
    div(class='purple')
      a(href='/categories/create') Add a Category

    ul
      each category in categories
        //-li
          | CategoryID: #{category.CategoryID}, CategoryName: #{category.CategoryName}
        li #{category.CategoryName}
  else
    p There are no categories