extends layout
block style
  link(rel="stylesheet", href="/stylesheets/category_form.css")

block content
  .container
    a.icon(href="/categories")
      img(src="/images/back-button.png", alt="Back to category list", class='back')

    h2.title #{title}

    form(method="POST")
      div.form-floating.mb-3
        input.form-control#categoryName(type="text", placeholder="Add Category" name="categoryName" required value=`${category?category.CategoryName:''}`)
        label(for="categoryName")
      button.btn.btn-primary(type="submit") #{ category ? 'Update Category' : 'Add a Category' }
  