doctype html
html
  head
    title= title
    meta(chartset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="./images/favicon.png", type="image/x-icon")
    link(rel='stylesheet', href='/stylesheets/style.css')
    block style
    
    
  body
    div.header-and-username
      div.header
        a(href='/')
          img(src="./images/logo1.png" alt="expense tracker logo" id='logo')
        img(src="./images/profile.svg" id='profile')
      p.username Hello Username😊


    
    
    div.nav
      a(href='/home' class="home-nav")
        div.home-nav-text-container
          div
          p.home-nav-text Home
      
      a(href='/categories' class="categories-nav")
        div.category-nav-text-container
          div
          p.category-nav-text Category

      a(href='/transactions' class="transactions-nav")
        div.transaction-nav-text-container
          div
          p.transaction-nav-text Transaction

    
    block content