html
  head
    title= title
    meta(chartset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="./images/favicon.png", type="image/x-icon")
    link(rel='stylesheet' href='/stylesheets/signupandlogin.css')

    body
    .container
        img(src="/images/side_image.png" alt="expenseTracker-back-button" class="side-image")
        .right-container
            if current_view === "signup"
                .sign-up-container
                    .sign-up-container-back-button-and-title 
                        a(href="/landing_page")
                            img(src="/images/back-button.svg" alt="expenseTracker-back-button" class="back-button")
                        h1.sign-up-title Welcome to ExpenseTracker
                        form(action="/submit", method="post" class="sign-up-form")
                            .detail
                                label(for="name", class="label") First Name
                                input(type="text", name="name", id="name", class="input")
                            .detail
                                label(for="user-name", class="label") Username
                                input(type="text", name="user-name", id="user-name", class="input")
                            .detail
                                label(for="email", class="label") Email
                                input(type="email", name="email", id="email", class="input")
                            .detail
                                label(for="password", class="label") Password
                                input(type="password", name="password", id="password", class="input")
                            .button-and-text-container
                                a(href="/home" class="sign-up-login-button") Create Account
                                .texts 
                                    p.main-text Already have an account?
                                    a(href="/auth/login")
                                        p.sub-text Log In

            else if current_view === "login"
                .login-container
                    .login-container-back-button-and-title 
                        a(href="/landing_page")
                            img(src="/images/back-button.svg" alt="expenseTracker-back-button" class="back-button")
                        h1.login-title Welcome to ExpenseTracker
                        form(action="/submit", method="post" class="login-form")
                            .detail
                                label(for="email", class="label") Email
                                input(type="email", name="email", id="email", class="input")
                            .detail
                                label(for="password", class="label") Password
                                input(type="password", name="password", id="password", class="input")
                            .button-and-text-container
                                a(href="/home" class="sign-up-login-button") Log In
                                .texts 
                                    p.main-text Don't have an account?
                                    a(href="/auth/signup")
                                        p.sub-text Sign Up
                                        
                                         



//- .hero(style="background-image: url('./images/side_image.png')")